<h1>Contact</h1>
<div class="p-card p-6 lg:m-4 flex flex-wrap">
  <p class="col-12 md:col-6">
    <i class="pi pi-envelope"></i>Email:
    <a href="mailto:djessyczaplicki@gmail.com?subject=Portafolio feedback"
      >djessyczaplicki@gmail.com
    </a>
  </p>
  <p class="col-12 md:col-6">
    <i class="pi pi-building"></i>{{ "residence" | translate }}: Calpe -
    Alicante - {{ "spain" | translate }}
  </p>
  <p class="col-12 md:col-6">
    <i class="pi pi-linkedin"></i>Linkedin:
    <a href="https://www.linkedin.com/in/djessy-czaplicki"
      >https://www.linkedin.com/in/djessy-czaplicki</a
    >
  </p>
  <p class="col-12 md:col-6">
    <i class="pi pi-github"></i>Github:
    <a href="https://github.com/djessyczaplicki"
      >https://github.com/djessyczaplicki</a
    >
  </p>
  <p class="col-12 md:col-6">
    <i class="pi pi-briefcase"></i>Curriculum:
    <a [href]="'curriculum-link' | translate" target="_blank">{{
      "download-curriculum" | translate
    }}</a>
  </p>
</div>
