<h1>{{ "projects" | translate }}</h1>

<div class="flex m-4">
  <app-horizontal-card *ngFor="let project of projects" class="col-12 lg:col-6">
    <ng-container image>
      <p-galleria
        [value]="project.images"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '500px' }"
        [numVisible]="2"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item" style="width: 100%; display: block" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img
              [src]="item"
              style="display: block"
              style="max-height: 300px"
            />
          </div>
        </ng-template>
      </p-galleria>
    </ng-container>
    <ng-container header>
      <h2 class="card-header">
        {{ project.name | translate }}
      </h2>
    </ng-container>
    <ng-container content>
      <p class="card-content">{{ project.description | translate }}</p>
      <p class="card-content">
        {{ project.features | translate }}
      </p>
    </ng-container>
  </app-horizontal-card>
</div>
