/* You can add global styles to this file, and also import other style files */
html,
body {
  scroll-behavior: smooth;
  color: var(--text-color);
  margin: 10px;
  font-family: var(--font-family);
}

.text-layout a {
  color: var(--primary-color);
}

canvas {
  z-index: -1;
}

#tsparticles {
  position: relative;
  z-index: -1;
}

.header {
  font-size: 2rem;
  color: var(--teal-300);
}

.title {
  font-size: 4rem;
  color: var(--primary-200);
}

.subtitle {
  font-size: 3rem;
  color: var(--primary-600);
}

.card-header {
  display: block;
  font-weight: bold;
  font-size: 2.5rem;
}

.card-content {
  font-size: 1.2rem;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--blue-700);
}
