/* You can add global styles to this file, and also import other style files */
html,
body {
  color: var(--text-color);
  margin: 10px;
  font-family: var(--font-family);
}

.text-layout a {
  color: var(--primary-color);
}

.on-top {
  z-index: 1;
}

canvas {
  z-index: -1;
}

#tsparticles {
  position: relative;
  z-index: -1;
}

.header {
  font-size: 2em;
  color: var(--teal-300);
}

.title {
  font-size: 4em;
  color: var(--primary-200);
}

.subtitle {
  font-size: 3em;
  color: var(--primary-600);
}

.card-header {
  display: block;
  font-weight: bold;
  font-size: 3em;
}

.card-content {
  font-size: 1.5em;
}
